<div id="documentation" class="documentation border border-3 rounded-3 p-3 m-3">
   <h5 class="my-2 fw-bold"><f:translate key="{LLL.be}documentation.h5.1" /></h5>

   <div class="card mb-3">
      <div class="row g-0">
         <div class="col-4">
            <f:variable name="title"><f:translate key="{LLL.be}documentation.step.1" /> - <f:translate key="{LLL.be}documentation.step.1.text" /></f:variable>
            <f:link.external data="{'lightbox':'lightbox','title':title}" uri="{f:uri.image(src: 'EXT:bt_appointment/Resources/Public/Images/documentation_01.jpg',absolute:1)}">
                <f:image class="image-embed-item w-100 h-auto" src="EXT:bt_appointment/Resources/Public/Images/documentation_01.jpg"  />
            </f:link.external>
         </div>
         <div class="col-8">
            <div class="card-body">
               <h5 class="card-title"><f:translate key="{LLL.be}documentation.step.1" /></h5>
               <p class="card-text"><f:translate key="{LLL.be}documentation.step.1.text" /></p>
            </div>
         </div>
      </div>
   </div>
   <div class="card mb-3">
      <div class="row g-0">
         <div class="col-4">
            <f:variable name="title"><f:translate key="{LLL.be}documentation.step.1" /> - <f:translate key="{LLL.be}documentation.step.1.text" /></f:variable>
            <f:link.external data="{'lightbox':'lightbox','title':title}" uri="{f:uri.image(src: 'EXT:bt_appointment/Resources/Public/Images/documentation_02.jpg',absolute:1)}">
                <f:image class="image-embed-item w-100 h-auto" src="EXT:bt_appointment/Resources/Public/Images/documentation_02.jpg"  />
            </f:link.external>
         </div>
         <div class="col-8">
            <div class="card-body">
               <h5 class="card-title"><f:translate key="{LLL.be}documentation.step.2" /></h5>
               <p class="card-text"><f:translate key="{LLL.be}documentation.step.2.text" /></p>
            </div>
         </div>
      </div>
   </div>
</div>
