<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <f:link.action action="step1" class="navbar-brand"><f:image class="image-embed-item" width="auto" height="36px" src="EXT:bt_appointment/Resources/Public/Images/logo_bookingtime.png" /></f:link.action>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
<f:comment>
<f:link.action action="step1" class="nav-link">Step 1</f:link.action>
<f:link.action action="step2" class="nav-link">Step 2</f:link.action>
<f:link.action action="step3" class="nav-link">Step 3</f:link.action>
<f:link.action action="list" class="nav-link">List</f:link.action>
<f:link.action action="add" class="nav-link">Add</f:link.action>
<f:link.action action="edit" class="nav-link">Edit</f:link.action>
<f:link.action action="preview" class="nav-link">Preview</f:link.action>
</f:comment>
      </div>
    </div>
  </div>
</nav>
