<f:asset.css identifier="bootstrap.min.css" href="EXT:bt_appointment/Resources/Public/bootstrap-5.2.3-dist/css/bootstrap.min.css" />
<f:asset.css identifier="bootstrap-icons.css" href="EXT:bt_appointment/Resources/Public/Css/Backend/bootstrap-icons.css" />
<f:asset.css identifier="lightbox.min.css" href="EXT:bt_appointment/Resources/Public/Css/Backend/lightbox.min.css" />
<f:asset.css identifier="bookingtime-appointment.css" href="EXT:bt_appointment/Resources/Public/Css/Backend/bookingtime-appointment.css" />

<f:asset.script identifier="jquery-3.6.1.min.js" src="EXT:bt_appointment/Resources/Public/JavaScript/Backend/jquery-3.6.1.min.js" />
<f:asset.script identifier="bootstrap.bundle.min.js" src="EXT:bt_appointment/Resources/Public/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js" />
<f:asset.script identifier="lightbox.min.js" src="EXT:bt_appointment/Resources/Public/JavaScript/Backend/lightbox.min.js" />
<f:asset.script identifier="bookingtime-appointment.js" src="EXT:bt_appointment/Resources/Public/JavaScript/Backend/bookingtime-appointment.js" />

<div class="mod-tx_bookingtime_appointment">
   <f:render partial="Header" arguments="{_all}" />
   <f:render section="Content" />
</div>
